.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	background-color: #fff !important;
}

.ui-bar-inherit{
	background-color: #007AC6 !important;
	color: #fff !important;
}

.ui-btn.ui-btn-active{
	background-color: #007AC6 !important;
}

.my-badge {
  display: none;
  background: #BA070F;
  color: #fff;
  padding: 1px 7px;
  position: absolute;
  right: 4px;
  top: -12px;
  z-index: 999;
  border-radius: .8em;
  border: 2px solid #fff;
}

.alert-badge {
  background: #BA070F;
  color: #fff;
  padding: 1px 7px;
  position: absolute;
  left: 51%;
  z-index: 999;
  border-radius: .9em;
  border: 2px solid #fff;
  font-size: 10px;
}

.ui-badge-container {
  position: relative;
}

.ui-bar-a{
	background-color: #fff !important;
	border-color: #fff !important;
}


.ui-bar p {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.icon-cursor{
	cursor: pointer;cursor: hand;
}

